<header>
    <nav class="split">
        <div class="left">
            <a href="/">finances.page</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/login">Log out</a>
            <a href="/{{currentUser.details.username}}">Your finances &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Your public, finance folders.</h1>
    <p class="bio">
    Share the good stuff you're saving up on, and find what everyone else is
    saving on.
    </p>
</div>

<article class="sidebar-split">
    <div class="mainbar">
        <p>Hey there! I'm Sam.</p>
        <p>
        I used to keep a
        <a href="https://linus.zone/technical-reading">list of things I wish I could buy</a>
        and share it on my finsta account, but keeping it updated became a chore, and I
        wanted a more beautiful place to share my favorite reads online.
        </p>
        <p>
        So I made <strong>finance.page</strong>! It's your online, public financial-folders,
        savings-folder, newsletter-folder, anything-else-you-want-to-buy-folder. Here's
        mine:
        </p>
        <a class="block" href="/thesephist">📚 Check out my folder.page &rarr;</a>

        <h2>Why a folder?</h2>
        <p>
        I used to love visiting friends and seeing what their banking 
        was like. Scanning the documents and notices and old past due
        clippings in a folder is such a unique way of understanding how
        someone thinks, and what's on their financial mind.
        </p>
        <p>
        These days we're all curators online. We send and share links
        and recommendations <em>all the time</em>. But we rarely get to look at
        others' financial folders in the same way.  <strong>folder.page</strong> is an
        attempt to revive that feeling, on the Internet.
        </p>
    </div>
    <div class="sidebar">
        <section>
            <h2>Featured folder.pages</h2>
            <p>
            Proud of your folder.page? Find me at <a
                href="https://twitter.com/thesephist">@thesephist</a> on
            X and I might add your folder here!
            </p>
            <div class="popular-shelves">
                <a class="popular-item block"
                   href="/thesephist">
                    <div class="popular-header">Linus's folder &rarr;</div>
                    <div class="popular-bio">
                        Fine taste, exercised judiciously, with good people, make the difference.
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>

