<header>
    <nav class="split">
        <div class="left">
            <a href="/">finances.page</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/login">Log out</a>
            <a href="/{{currentUser.details.username}}">Your finances &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Your private & personal finance tracker</h1>
    <p class="bio">
    finances.page makes it easier than ever to manage your expenses, so you always know where your money is going!
    </p>
</div>

<article class="sidebar-split">
    <div class="mainbar">
        
        <p>
        Stop saving receipts, and start saving time! finances.page is here to help! Simply sign up and start inputting your expenses and start saving money today!
        </p>
        
        <h2>Never lose track of your finances</h2>
        <p>
        finance.pages saves all of your data for you. Just login with your credentials and never worry about losing your spreadsheet again!
        </p>
        <p>
        Smart money starts now. Smart money starts with finances.page.
        </p>
    </div>
    <div class="sidebar">
        <section>
            <h2>About the team</h2>
            <p>
            Learn more about the team behind your favorite financial tool! <a
            </p>
            <div class="popular-shelves">
                <a class="popular-item block"
                   href="/aboutus">
                    <div class="popular-header">The Team &rarr;</div>
                    <div class="popular-bio">
                        A team of student developers who are actively pursuing their education in the world of programming and software development.
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>

